* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.titulo {
    text-align: center;
    border: 1px solid blue;
    background-color: gray;
    color: brown;
    padding: 10px;
    margin-bottom: 30px;
    margin: 20px;
    border-radius: 10px;
    font-family: sans-serif;
}

.logo img{
    width: 30.3%;
    border-radius: 20px;
}

.logo {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-bottom: 20px;
    justify-content: center;
}

.text {
    font-family: sans-serif;
    margin-bottom: 20px;
}

.final {
    text-align: center;
    border: 1px solid blue;
    background-color: gray;
    color: brown;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}